name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - name: Install dependencies
        run: bun install
      - name: Lint
        run: bun lint
      - name: Typecheck
        run: bun tsc --noEmit
      - name: Lint
        run: bun lint

  publish:
    name: Publish package
    needs: check
    if: github.event_name == 'push' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - name: Install dependencies
        run: bun install
